In [42]:
price.to_csv('AfterSplit.csv')

Converting the price and the units into â‚¬ / 100 gramms

In [1]:
import pandas as pd
import numpy as np
feb = pd.read_csv('/Users/david/Documents/GitHub/Final_project_DGU_LDU_COFFEE/2_EDA/cleaning/cleaned_coffee_df_Temp.csv')
price = feb['est_price']
price = pd.DataFrame(price)
price['est_price'] = feb['est_price']
price['blind_assessment'] = feb['blind_assessment']

We move in a new column everything after the '/' in a new column

In [2]:
split_values = price['est_price'].str.split('/')
# Create a new column 'unit' with the second part of the split values
price['after_slash'] = split_values.str[1]

We move in a new column everything before the '/' in a new column

In [4]:
price['before_slash'] = price['est_price'].apply(lambda x: x.split('/')[0])

We move in a new column everything before the '/' in a new column

In [5]:
price['before_DOL'] = price['est_price'].apply(lambda x: x.split('$')[0])

In [6]:
#We remove the currency symbol
split_values = price['before_slash'].str.split('$')

# Create a new column 'price_new' with the second part of the split values
price['rem_D'] = split_values.str[1]

In [7]:
replace_dict = {'NT': '', '.': ','}
price['rem_D'] = price['rem_D'].replace(replace_dict)

In [8]:
price.loc[1893, 'rem_D']

'NT 700'

In [9]:
#One string is still reminding :
price.loc[1893, 'rem_D'] = price.loc[1893, 'rem_D'].replace('NT', '', 1893)

In [10]:
price['rem_D'].dtypes

dtype('O')

In [11]:
price['rem_D'] = price['rem_D'].str.strip()

In [12]:
# We identify the empty value which provide a ""
empty_rows = price[price['rem_D'] == '']
empty_rows

,est_price,blind_assessment,after_slash,before_slash,before_DOL,rem_D
170,$NT$520/200g,"Resonantly floral, fruit-driven. Narcissus, po...",200g,$NT$520,,
171,$NT$1000/200g,"Sweet-tart, gently herbaceous. Dried apricot, ...",200g,$NT$1000,,

In [13]:
price.loc[171, 'rem_D'] = 1000
price.loc[170, 'rem_D'] = 520

In [14]:
#We count the empty value which will be too complexe to process, if the number is really low we drop them
pd.isnull(price['rem_D']).value_counts()

False    4881
True       68
Name: rem_D, dtype: int64

In [15]:
price.dropna(subset=['rem_D'], inplace=True)

In [29]:
price['rem_D'] = price['rem_D'].str.replace(',', '')

AttributeError: Can only use .str accessor with string values!

In [28]:
price.loc[217, 'rem_D'] = price.loc[217, 'rem_D'].replace(',', '', 217)
price.loc[219, 'rem_D'] = price.loc[219, 'rem_D'].replace(',', '', 219)

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [18]:
price.loc[217, 'rem_D']

'1500'

In [19]:
price.loc[219, 'rem_D']

'1500'

We will move the rest of the String from 'rem_D' to 'before_DOL'

In [27]:
# For CAD Canadien Dollar
for index, row in price.iterrows():
    if isinstance(row['rem_D'], float):
        # Handle NaN or other float values as needed
        continue

    if 'CAD' in row['rem_D']:
        row['before_DOL'] += 'CAD '
        row['rem_D'] = row['rem_D'].replace('CAD', '').strip()
# Same for Laotian Kip Currency

for index, row in price.iterrows():
    if isinstance(row['rem_D'], float):
        # Handle NaN or other float values as needed
        continue

    if 'LAK' in row['rem_D']:
        row['before_DOL'] += 'LAK '
        row['rem_D'] = row['rem_D'].replace('LAK', '').strip()
        
# Same for New Taiwan dollar Currency

for index, row in price.iterrows():
    if isinstance(row['rem_D'], float):
        # Handle NaN or other float values as needed
        continue

    if 'NTD' in row['rem_D']:
        row['before_DOL'] += 'NTD '
        row['rem_D'] = row['rem_D'].replace('NTD', '').strip()

In [26]:
price['rem_D'] = price['rem_D'].astype(float)

In [24]:
price['rem_D'] = pd.to_numeric(price['rem_D'], errors='coerce')

In [25]:
price['rem_D'].dtypes

dtype('float64')

In [58]:
price['after_slash'].unique

<bound method Series.unique of 0                  12 ounces
1                  12 ounces
2                  12 ounces
3                  12 ounces
4                   8 ounces
                ...
4944    500 grams (17.6 oz.)
4945               16 ounces
4946     250 grams (8.8 oz.)
4947               16 ounces
4948               16 ounces
Name: after_slash, Length: 4881, dtype: object>

**EURO Convertion**

In [33]:
# DOLLAR to EURO
#df['new_column'] = df.apply(lambda row: row['my_column'] * 0.94 if pd.isna(row['other_column']) else row['my_column'], axis=1)
#price['EURO'] = price.apply(lambda row: price['rem_D'] * 0.94 if pd.isna(price['before_DOL']) else price['rem_D'], axis=1)
#price['EURO'] = price.apply(lambda row: price['rem_D'] * 0.94 if pd.isna(price['before_DOL']) else price['rem_D'], axis=1)
#price['EURO'] = price.apply(lambda row: price['before_DOL'] * 0.94 if pd.isna(price['rem_D']) else price['before_DOL'], axis=1)
#df['new_column'] = df.apply(lambda row: row['my_column'] * 0.94 if pd.isna(row['other_column']) else row['my_column'], axis=1)
price['EURO'] = np.where(pd.isna(price['rem_D']), price['before_DOL'] * 0.94, price['before_DOL'])

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
df['my_column'] = pd.to_numeric(df['my_column'], errors='coerce')

In [32]:
price['rem_D'].dtypes

dtype('float64')

In [61]:
# CAD DOLLAR to EURO

In [ ]:
# TAIWAN DOLLAR to EURO

In [ ]:
# LAK to EURO