In [33]:
price.to_csv('AfterSplit.csv')

Converting the price and the units into â‚¬ / 100 gramms

In [2]:
import pandas as pd
import numpy as np
feb = pd.read_csv('/Users/david/Documents/GitHub/Final_project_DGU_LDU_COFFEE/2_EDA/cleaning/cleaned_coffee_df_Temp.csv')
price = feb['est_price']
price = pd.DataFrame(price)
price['est_price'] = feb['est_price']
price['blind_assessment'] = feb['blind_assessment']

We move in a new column everything after the '/' in a new column

In [3]:
split_values = price['est_price'].str.split('/')
# Create a new column 'unit' with the second part of the split values
price['after_slash'] = split_values.str[1]

We move in a new column everything before the '/' in a new column

In [4]:
price['before_slash'] = price['est_price'].apply(lambda x: x.split('/')[0])

We move in a new column everything before the '/' in a new column

In [5]:
price['before_DOL'] = price['est_price'].apply(lambda x: x.split('$')[0])

In [6]:
#We remove the currency symbol
split_values = price['before_slash'].str.split('$')

# Create a new column 'price_new' with the second part of the split values
price['rem_D'] = split_values.str[1]

In [7]:
replace_dict = {'NT': '', '.': ','}
price['rem_D'] = price['rem_D'].replace(replace_dict)

In [8]:
price.loc[1893, 'rem_D']

'NT 700'

In [9]:
#One string is still reminding :
price.loc[1893, 'rem_D'] = price.loc[1893, 'rem_D'].replace('NT', '', 1893)

In [10]:
price['rem_D'].dtypes

dtype('O')

In [11]:
price['rem_D'] = price['rem_D'].str.strip()

In [13]:
# We identify the empty value which provide a ""
empty_rows = price[price['rem_D'] == '']
empty_rows

,est_price,blind_assessment,after_slash,before_slash,before_DOL,rem_D
170,$NT$520/200g,"Resonantly floral, fruit-driven. Narcissus, po...",200g,$NT$520,,
171,$NT$1000/200g,"Sweet-tart, gently herbaceous. Dried apricot, ...",200g,$NT$1000,,

In [14]:
price.loc[171, 'rem_D'] = 1000
price.loc[170, 'rem_D'] = 520

In [16]:
price.dropna(subset=['rem_D'], inplace=True)

In [17]:
price['rem_D'] = price['rem_D'].str.replace(',', '')

In [18]:
price.loc[217, 'rem_D'] = price.loc[217, 'rem_D'].replace(',', '', 217)
price.loc[219, 'rem_D'] = price.loc[219, 'rem_D'].replace(',', '', 219)

In [19]:
price.loc[217, 'rem_D']

'1500'

In [20]:
price.loc[219, 'rem_D']

'1500'

We will move the rest of the String from 'rem_D' to 'before_DOL'

In [23]:
price['rem_D'] = pd.to_numeric(price['rem_D'], errors='coerce')

In [24]:
price['rem_D'] = price['rem_D'].astype(float)

In [25]:
# For CAD Canadien Dollar
for index, row in price.iterrows():
    if isinstance(row['rem_D'], float):
        # Handle NaN or other float values as needed
        continue

    if 'CAD' in row['rem_D']:
        row['before_DOL'] += 'CAD '
        row['rem_D'] = row['rem_D'].replace('CAD', '').strip()
# Same for Laotian Kip Currency

for index, row in price.iterrows():
    if isinstance(row['rem_D'], float):
        # Handle NaN or other float values as needed
        continue

    if 'LAK' in row['rem_D']:
        row['before_DOL'] += 'LAK '
        row['rem_D'] = row['rem_D'].replace('LAK', '').strip()
        
# Same for New Taiwan dollar Currency

for index, row in price.iterrows():
    if isinstance(row['rem_D'], float):
        # Handle NaN or other float values as needed
        continue

    if 'NTD' in row['rem_D']:
        row['before_DOL'] += 'NTD '
        row['rem_D'] = row['rem_D'].replace('NTD', '').strip()

In [29]:
#To simplify the database we drop the rest of the record which lack of informations
missing_count = price['rem_D'].isna().sum()
missing_count

0

In [28]:
price.dropna(subset=['rem_D'], inplace=True)

**EURO Convertion**

In [37]:
price['before_DOL'].unique()

array(['', 'NT ', 'NT', 'CAD ', 'HKD ', 'HK ', 'US ', 'USD ', 'IDR ',
       'NTD ', 'AED ', 'AUD ', 'KRW ', 'THB ', 'RMB ', 'CNY ', 'TWD ',
       'KRW', 'NTD', 'Price: '], dtype=object)

In [30]:
#We create a column named 'Euro'
price['Euro'] = pd.Series('', index=price.index)

In [38]:
# DOLLAR to EURO
# converting the US Dollar in price['Euro']
price['Euro'] = price.apply(lambda x: x['rem_D']*0.94 if pd.isna(x['before_DOL']) or x['before_DOL'] == '' else x['Euro'], axis=1)

In [ ]:
# CAD DOLLAR to EURO
price['Euro'] = price.apply(lambda x: x['rem_D']*0.94 if pd.isna(x['before_DOL']) or x['before_DOL'] == '' else x['Euro'], axis=1)

In [32]:
price['Euro']

0          28.2
1         150.4
2         26.32
3         19.27
4       17.8506
         ...
4944      25.38
4945     18.283
4946       9.87
4947    13.1506
4948     11.233
Name: Euro, Length: 4874, dtype: object

In [63]:
price['rem_D'].dtypes

dtype('float64')

In [ ]:
# TAIWAN DOLLAR to EURO

In [ ]:
# LAK to EURO