In [1]:
# importing relevant libraries
import pandas as pd
import numpy as np

# Exploring and cleaning the data

In [2]:
coffee_df = pd.read_csv("simplified_coffee.csv")

In [3]:
coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1246 non-null   object
 1   roaster      1246 non-null   object
 2   roast        1234 non-null   object
 3   loc_country  1246 non-null   object
 4   origin       1246 non-null   object
 5   100g_USD     1246 non-null   float64
 6   rating       1246 non-null   int64
 7   review_date  1246 non-null   object
 8   review       1246 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 87.7+ KB

In [25]:
coffee_df["review"][1]

'Delicate, sweetly spice-toned. Pink peppercorn, date, myrrh, lavender, roasted cacao nib in aroma and cup. Crisp, spice-toned structure with citrus-like acidity; satiny, very smooth mouthfeel. The crisply sweet finish centers around spice and pungent floral notes.'

In [4]:
# extracting the rows of the df that contain NaN's
coffee_df_na = coffee_df[coffee_df.isna().any(axis=1)]

In [5]:
# showing the rows of the df that contain NaN's
coffee_df_na

,name,roaster,roast,loc_country,origin,100g_USD,rating,review_date,review
132,Esmeralda Estate Panama Geisha,Difference Coffee,NaN,England,Panama,111.11,94,August 2018,Evaluated as espresso produced as a ristretto ...
480,Esmeralda Estate Panama Geisha,Difference Coffee,NaN,England,Panama,111.11,94,June 2020,Evaluated as espresso produced as a ristretto ...
481,Asfaw Maru Ethiopia Natural Cold Brew,Collage Coffee,NaN,United States,Ethiopia,1.32,93,July 2020,"A ready-to-drink black coffee, tested cold. Rh..."
482,Ethiopia Nano Challa Cold Brew,Bonfire Coffee Company,NaN,United States,Ethiopia,1.34,94,July 2020,"A ready-to-drink black coffee, tested cold. Ri..."
483,Brazil Ipanema Black Edition A-41 Red Cherry,GK Coffee,NaN,Taiwan,Brazil,4.27,94,July 2020,"A ready-to-drink black coffee, tested cold. Bi..."
606,Esmeralda Estate Panama Geisha,Difference Coffee,NaN,England,Panama,100.00,94,November 2020,Evaluated as espresso produced as a “ristretto...
822,Brazil Ipanema Golden Edition C26 Lychee,GK Coffee,NaN,Taiwan,Brazil,4.00,94,July 2021,"A ready-to-drink black coffee, tested cold. Dr..."
826,Esmeralda Estate Panama Geisha,Difference Coffee,NaN,England,Panama,111.11,94,August 2021,Evaluated as espresso produced as a “ristretto...
882,Ethiopia Guji Hambela Wate 74110/74112/74158 M...,Taster's Coffee,NaN,Taiwan,Ethiopia,3.17,93,September 2021,Evaluated as espresso produced as a “ristretto...
886,Yemen Lot 106,Port of Mokha,NaN,United States,Yemen,39.68,96,October 2021,"Deep yet soaring, vertically complex. Dried bl..."
892,Ethiopia Guji Shakisso Mormora Estate Natural,Taster's Coffee,NaN,Taiwan,Ethiopia,3.17,93,October 2021,Evaluated as espresso produced as a “ristretto...
1131,Esmeralda Estate Panama Geisha,Difference Coffee,NaN,England,Panama,111.11,94,July 2022,Evaluated as espresso produced as a “ristretto...

In [6]:
# replacing the NaN's with "Undetermined"
coffee_df["roast"].fillna("Undetermined", inplace=True)

In [7]:
# check whether the NaN's were actually replaced using an index from above
coffee_df["roast"][132]

'Undetermined'

In [8]:
# dropping the "review_date" column since this information is not relevant for the analysis
coffee_df.drop(["review_date"], axis=1, inplace=True)

In [9]:
# checking to see whether the column was dropped
coffee_df.head()

,name,roaster,roast,loc_country,origin,100g_USD,rating,review
0,Ethiopia Shakiso Mormora,Revel Coffee,Medium-Light,United States,Ethiopia,4.70,92,"Crisply sweet, cocoa-toned. Lemon blossom, roa..."
1,Ethiopia Suke Quto,Roast House,Medium-Light,United States,Ethiopia,4.19,92,"Delicate, sweetly spice-toned. Pink peppercorn..."
2,Ethiopia Gedeb Halo Beriti,Big Creek Coffee Roasters,Medium,United States,Ethiopia,4.85,94,"Deeply sweet, subtly pungent. Honey, pear, tan..."
3,Ethiopia Kayon Mountain,Red Rooster Coffee Roaster,Light,United States,Ethiopia,5.14,93,"Delicate, richly and sweetly tart. Dried hibis..."
4,Ethiopia Gelgelu Natural Organic,Willoughby's Coffee & Tea,Medium-Light,United States,Ethiopia,3.97,93,"High-toned, floral. Dried apricot, magnolia, a..."

In [10]:
# checking the min and max values in the "100g_USD" column
print(coffee_df["100g_USD"].min())
print(coffee_df["100g_USD"].max())
print(coffee_df["100g_USD"].mean())

0.17
132.28
10.479125200642045

In [11]:
# adding a categorical column based on the "100g_USD" column 

# 0-20 (low-range)
# 20-50 (mid-range)
# 50-80 (high-range)
# 80-100 (expensive)
# 100-beyond (very expensive)

# conditions = [
    # (coffee_df['100g_USD'] < 20),
    # (coffee_df['100g_USD'] & coffee_df['100g_USD'] < 50),
    # (coffee_df['100g_USD'] >= 50) & (coffee_df['100g_USD'] < 80),
    # (coffee_df['100g_USD'] >= 80) & (coffee_df['100g_USD'] < 100),
    # (coffee_df['100g_USD'] > 100)
# ]

# values = ['low-range', 'mid-range', 'high-range', 'expensive', 'very expensive']

# new_df = np.select(conditions, values)

# print(new_df)

# Preparations for the clustering

In [12]:
# importing relevant libraries
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from matplotlib import pyplot

In [18]:
# identifying what column should be part of the clustering exercise:
# "roast" (should be dummified before)
# "origin" (should be dummified)
# "100g_USD" (should be scaled before)
# "rating" (should be scaled before)
# "review" (should first be processed using NLP)

In [37]:
# dummifying the "roast" and "origin" column
roast_dummies = pd.get_dummies(coffee_df["roast"])
roast_origin = pd.get_dummies(coffee_df["origin"])

In [42]:
roast_dummies

      Dark  Light  Medium  Medium-Dark  Medium-Light  Undetermined
0        0      0       0            0             1             0
1        0      0       0            0             1             0
2        0      0       1            0             0             0
3        0      1       0            0             0             0
4        0      0       0            0             1             0
...    ...    ...     ...          ...           ...           ...
1241     0      0       0            0             1             0
1242     0      0       0            0             1             0
1243     0      0       0            0             1             0
1244     0      0       0            0             1             0
1245     0      0       0            0             1             0

[1246 rows x 6 columns]

In [46]:
# concatenating the "100g_USD" and "rating" columns to prep for scaling
price_and_rating = coffee_df[["100g_USD", "rating"]]

In [47]:
# scaling the "100g_USD" and "rating" columns
scaler = StandardScaler()
price_and_rating_scaled = scaler.fit_transform(price_and_rating)

In [48]:
price_and_rating_scaled = pd.DataFrame(price_and_rating_scaled)

In [49]:
# todo: change column titles
price_and_rating_scaled

             0         1
0    -0.428678 -0.883530
1    -0.466509 -0.883530
2    -0.417552  0.468900
3    -0.396040 -0.207315
4    -0.482828 -0.207315
...        ...       ...
1241 -0.428678 -0.883530
1242 -0.559230 -0.207315
1243 -0.559230 -0.207315
1244 -0.428678 -0.207315
1245 -0.341149  0.468900

[1246 rows x 2 columns]

In [50]:
# concatting everything into coffee features used for the clustering
coffee_features = pd.concat([roast_dummies, roast_origin, price_and_rating_scaled],axis=1)

In [51]:
coffee_features

,Dark,Light,Medium,Medium-Dark,Medium-Light,Undetermined,Bolivia,Brazil,Burundi,Colombia,...,Peru,Philippines,Rwanda,Taiwan,Tanzania,Thailand,Uganda,Yemen,0,1
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.428678,-0.883530
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.466509,-0.883530
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.417552,0.468900
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.396040,-0.207315
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.482828,-0.207315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.428678,-0.883530
1242,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.559230,-0.207315
1243,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.559230,-0.207315
1244,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.428678,-0.207315
1245,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.341149,0.468900

# Executing the clustering